@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css);

body {
    margin: 0;
}


.viewport {
    height: 50vh;
    position: relative;
}

main div:nth-child(1) {
    background-image: linear-gradient(to right, #185A9D, #42CCA1);
}

main div:nth-child(2) {
    background-image: linear-gradient(to right, #A83278, #D38212);
}

.viewport section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

i {
    color: white;
    position: absolute;
    right: 6px;
    bottom: 12px;
}

main div:nth-child(1) section img {
    width: 300px;
}

main div:nth-child(2) section img {
    width: 270px;
}

main div:nth-child(1) section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,
    rgba(0, 0, 0, 1) 0.05%,
    rgba(0, 0, 0, 0));
}