@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css);

body {
    margin: 0;
}


.viewport {
    height: 50vh;
}

main:nth-child(1) {
    background-color: pink;
}

img {
    width: 200px;
}

.card {
    display: block;
}