:root {
    --clr-primary: #786EFF;
    --clr-gray-light: #F6F8F9;
    --clr-gray-dark: #353F4D;
}

#about {
    width: 95%;
    max-width: 1200px;
    margin: 32px auto;
    background-color: var(--clr-gray-light);
    border-radius: 8px;
}