:root {
    --clr-primary: #786EFF;
    --clr-gray: #717C84;
    --clr-gray-light: #F6F8F9;
    --clr-gray-dark: #353F4D;
    --clr-border: #555658;
}

body {
    font-family: Helvetica, sans-serif;
}

#about {
    width: 95%;
    max-width: 795px;
    margin: 32px auto;
    background-color: var(--clr-gray-light);
    border-radius: 8px;
    padding: 48px;
    position: relative;

}

#about .info {
    color: var(--clr-gray-dark);
    width: 42%;
}

#about .info .info__subtitle {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 12px;
}

#about .info .info__title {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 18px;
}

#about .info .info__desc {
    color: var(--clr-gray);
    margin-bottom: 24px;
}

.btn {
    border: 1px solid var(--clr-border);
    background-color: transparent;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    color: #202B39;
}

.btn.btn--primary {
    border: var(--clr-primary);
    background-color: var(--clr-primary);
    color: white;
    margin-right: 10px;
}

/* IMAGE */

#about .img {
    position: absolute;
    width: 30%;
    bottom: 0px;
    right: 48px;
}
