body {
    margin: 80px auto;
    background-color: rgb(238, 238, 238);
    font-family: Arial, Helvetica, sans-serif;
}

.cards-layout {
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

.masonry-article {
    background-color: white;
    border: 1px solid gray;
    box-shadow: 1px 1px 7px 0px grey;
    border-radius: 12px;
}

img {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.masonry-card {
    padding: 12px;
}

.card-footer {
    padding: 12px;
    border-top: 1px solid gray;
}