body {
    background-color: rgb(238, 238, 238);
    padding: 50px;
    box-sizing: border-box;
}

img {
    background-color: rgb(255, 255, 255);
}

blockquote {
    font-family: Georgia, serif;
}

a {
    color: rgb(0, 153, 0);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, serif;
}

.header-nav {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

span {
    font-size: 35px;
    padding-bottom: 20px;
}

.page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-direction: row;
}

main {
    max-width: 65vw;
    padding-right: 30px;
}

.image-one {
    float: right;
    margin: 20px;
}

.image-two {
    float: left;
    margin: 20px;
}

@media (max-width: 500px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    body {
        font-size: 18px;
    }
}

@media (max-width: 1300px) {
    body {
        font-size: 21px;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 16px;
    }
}

