@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: Raleway, sans-serif;
    margin: 0 auto;
}

main {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

section {
    background-color: #EFEFEF;
    position: relative;
    padding: 150px 100px;
    height: 500px;
    width: 90%;
}

.appolo {
    font-weight: 700;
    color: #222222;
}

/* Section 1 */

.section-one-heading {
    color: #3D3D3D;
    font-weight: 400;
}

.section-one-img {
    width: 508px;
    position: absolute;
    bottom: 0px;
    right: 180px;
}

.section-one-par {
    width: 30%;
    font-style: italic;
}

/* Section 2 */

.section-two {
    position: relative;
}

.section-two-heading {
    color: #3D3D3D;
    font-weight: 400;
}

.section-two-img {
    width: 400px;
    position: absolute;
}

.section-two-info {
    width: 40%;
    position: absolute;
    right: 50px;
    top: 50px;
    margin-right: 54px;
}

.section-two-first-para,
.section-two-second-para {
    font-style: italic;
}

.section-two-ul {
    list-style-type: none;
    position: absolute;
    left: -40px;
}

.section-two-ul>li {
    display: inline;
    margin-right: 10px;
    font-size: 32px;
    padding: 5px;
}

.section-two-ul i {
    color: #909090;

}

.section-two-img {
    width: 415px;
    top: 38px;
}

/* Section 3 */

.section-three {
    overflow: hidden;
}

.section-three-img {
    position: absolute;
    object-fit: contain;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 1350px;
}