body {
    margin-top: 50px;
    background-color: #EEEEEE;
}

table {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
}

table,
th,
tr,
td {
    border: 1px solid black;
}

th {
    text-align: left;
    color: white;
    background-color: #333333;
}

.gray-tr {
    background-color: #F1F1F1;
}

.tr-white {
    background-color: white;
}

tr {
    height: 30px;
}