*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
    padding: 50px;
}

img {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25);
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
    font-size: 1em;
    line-height: 1.2;
}

blockquote {
    font-family: Georgia, serif;
}

.site-title {
    display: inline-block;
    font-size: 40px;
    font-weight: 800;
    position: absolute;
    margin-top: 17px;
}

.header-nav {
    border-bottom: 2px solid black;
}

.top-nav-ul {
    display: inline-block;
    list-style-type: none;
    margin-left: 83%;
}

.top-nav-ul li {
    display: inline-block;
    margin: 10px
}

a {
    text-decoration: none;
    color: rgb(0, 102, 0);
}

main {
    width: 70%;
}

aside {
    width: 20%;
    position: absolute;
    margin-top: 20px;
    right: -136px;
    top: 131px;
    margin-right: 50px;
}


