html {
    font-family: Helvetica, sans-serif;
    
    color: rgb(51, 51, 51);
}

* {
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
    background-color: rgb(238, 238, 238)
}

article {
    width: 58%;
    display: inline-block;
}

img {
    width: 70%;
}

aside {
    width: 38%;
    display: inline-block;
    margin-top: 0;
    position: absolute;
}

a {
    color: blue;
}