@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css);

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
}

.header-logo {
    display: flex;
    align-items: baseline;
}

.header-logo-site-title {
    font-size: 60px;
    padding-right: 25px;
    position: relative;
}

.header-logo-site-title::after {
    content: '';
    width: 1px;
    height: 50px;
    background-color: gray;
    position: absolute;
    left: 360px;
    top: 9px;
}

.header-logo-site-source {
    color: gray;
    font-size: 26px;
    font-weight: normal;
}

.header-nav-list {
    padding-right: 0;
    display: flex;
    gap: 2px;
    list-style-type: none;
}

.header-nav-list-item {
    background-color: #ECECEC;
    padding: 25px 35px;
    cursor: pointer;
}

.header-nav-list-item-link {
    text-decoration: none;
    color: #656971;
    font-size: 20px;
}

.header-nav-list-item.active {
    background-color: #E24E2A;
}

.header-nav-list-item.active a {
    color: white;
}

/* Section-intro */

.intro-img {
    width: 100%;
    overflow: hidden;
}

.intro-img img {
    width: 100%;
    height: 100%;
    max-height: 670px;
    object-fit: cover;
}

.intro-content {
    text-align: center;
    background-color: #E24E2A;
    margin-top: -20px;
    padding: 80px 315px;
    color: #FBE5DB;
    font-size: 19px;
    line-height: 37px;
}

.intro-content a {
    color: #FBE5DB;
}

/* Section 2 */

i {
    font-size: 80px;
    color: white;
    background-color: #E24E2A;
    padding: 30px 30px;
}

.section-two {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 105px;
    gap: 50px;
    background-color: #383838;
}

.section-two-article {
    width: 18%;
    text-align: center;
}

.section-two-heading {
    color: white;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

.section-two-para {
    color: gray;
    line-height: 30px;
}

/* Section 3 */

.section-three {
    background-color: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 105px;
    text-align: center;
}

.section-three-heading {
    color: #535353;
    font-size: 50px;
    font-weight: normal;
}

.section-three-para {
    color: #535353;
    font-size: 25px;
    margin-top: -30px;
}

.section-three-btn {
    font-size: 25px;
    color: white;
    background-color: #1B9772;
    padding: 24px 71px;
}

/* Section 4 */

.section-four {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 105px;
    gap: 50px;
    background-color: #383838;
}

.section-four-heading {
    color: white;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: normal;
}

.section-four-article {
    width: 18%;
    text-align: center;
}

.section-four-para {
    color: gray;
    line-height: 30px;
}

/* Footer */

footer {
    padding-top: 90px;
    padding-bottom: 100px;
    text-align: center;
    color: #4FAB88;
    background-color: #1B9772;
    margin-bottom: -30px;
    font-size: 20px;
}

footer span {
    color: #a9c7ba;
}

main {
    margin-bottom: -20px;
}