.layer-one {
    list-style-type: upper-roman;
}

.nested-one {
    list-style-type: lower-latin;
}

.nested-nested-one {
    list-style-type: circle;
}

.nested-nested-three {
    list-style-type: disc;
}