@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

/* Header */

header {
    height: 835px;
    padding-left: 150px;
    position: relative;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-right: 150px;
    align-items: center;
}

.nav-ul {
    list-style-type: none;
    font-size: 30px;
}

.sign-in {
    border: 2px solid #0A66C2;
    border-radius: 40px;
    color: #0A66C2;
    padding: 19px 44px;
    font-weight: 700;
}

.join-now {
    color: #7F8082;
    margin-right: 26px;
    font-weight: 500;
}

.nav-ul>li {
    display: inline;
}

.logo {
    font-size: 36px;
    font-weight: 700;
    color: #0A66C2;
}

.welcome-wrapper {
    width: 55%;
}

.welcome-heading {
    color: #0A66C2;
    font-size: 76px;
    font-weight: 500;
}

.form {
    display: flex;
    flex-direction: column;
    width: 65%;
    gap: 30px;
}

.email,
.password {
    padding: 25px 15px;
    font-size: 20px;
    color: gray;
    border-radius: 5px;
}

.show-span {
    position: absolute;
    top: 514px;
    left: 686px;
    font-size: 29px;
    color: gray;
}

.forgot-password {
    margin-top: 0px;
    color: gray;
    font-size: 20px;
}

.sign-in-button {
    margin-top: -5px;
    color: white;
    background-color: #0A66C2;
    border-radius: 34px;
    padding: 28px;
    font-size: 20px;
}

.header-picture {
    width: 45%;
    position: absolute;
    top: 155px;
    right: 5px;
}

/* Section two */

.section-two {
    background-color: #FAF9F7;
    height: 600px;
    padding-left: 150px;
}

.open-jobs {
    color: black;
    font-size: 70px;
    font-weight: 500;
    width: 33%;
    display: inline-block;
    margin-right: 150px;
    margin-top: 180px;
}

.suggested-searches {
    width: 40%;
    display: inline-block;
}

.suggested-para {
    font-size: 20px;
    font-weight: bold;
    color: gray;
}

.searches-ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    width: 84%;
}

.searches-ul > li {
    font-size: 19px;
    font-weight: bold;
    border-radius: 20px;
    color: #666664;
    background-color: #E6E5E4;
    padding: 13px 15px;
}

