@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

/* Header */

header {
    height: 835px;
    padding-left: 150px;
    position: relative;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-right: 150px;
    align-items: center;
}

.nav-ul {
    list-style-type: none;
    font-size: 30px;
}

.sign-in {
    border: 2px solid #0A66C2;
    border-radius: 40px;
    color: #0A66C2;
    padding: 19px 44px;
    font-weight: 700;
    cursor: pointer;
}

.join-now {
    color: #7F8082;
    margin-right: 26px;
    font-weight: 500;
    cursor: pointer;
}

.nav-ul>li {
    display: inline;
}

.logo {
    font-size: 36px;
    font-weight: 700;
    color: #0A66C2;
    cursor: pointer;
}

.welcome-wrapper {
    width: 55%;
}

.welcome-heading {
    color: #0A66C2;
    font-size: 76px;
    font-weight: 500;
}

.form {
    display: flex;
    flex-direction: column;
    width: 65%;
    gap: 30px;
}

.email,
.password {
    padding: 25px 15px;
    font-size: 20px;
    color: gray;
    border-radius: 5px;
}

.show-span {
    position: absolute;
    top: 514px;
    left: 686px;
    font-size: 29px;
    color: gray;
    cursor: pointer;
}

.forgot-password {
    margin-top: 0px;
    color: gray;
    font-size: 20px;
    cursor: pointer;
}

.sign-in-button {
    margin-top: -5px;
    color: white;
    background-color: #0A66C2;
    border-radius: 34px;
    padding: 28px;
    font-size: 20px;
    cursor: pointer;
}

.header-picture {
    width: 45%;
    position: absolute;
    top: 155px;
    right: 5px;
}

/* Section two */

.section-two {
    background-color: #FAF9F7;
    height: 700px;
    padding-left: 150px;
    display: flex;
    align-items: center;
}

.open-jobs {
    color: black;
    font-size: 70px;
    font-weight: 500;
    width: 33%;
    margin-right: 150px;
    margin-top: -30px;
}

.suggested-searches {
    width: 52%;
}

.suggested-para {
    font-size: 30px;
    font-weight: bold;
    color: gray;
}

.searches-ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    width: 84%;
}

.searches-ul > li {
    font-size: 25px;
    font-weight: bold;
    border-radius: 25px;
    color: #666664;
    background-color: #E6E5E4;
    padding: 13px 15px;
    cursor: pointer;
}

/* Section three */

.section-three {
    background-color: #F1ECE5;
    padding-left: 150px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.post-your-job {
    font-size: 65px;
    font-weight: 500;
    color: #B03C1C;
    width: 38%;
    display: inline-block;
}

.post-a-job-button {
    font-size: 25px;
    font-weight: bold;
    border-radius: 25px;
    color: #666664;
    background-color: transparent;
    padding: 13px 15px;
    position: absolute;
    top: 141px;
    left: 920px;
    cursor: pointer;
}

/* Section 4 */

.section-four {
    padding-left: 150px;
    padding-top: 320px;
    padding-bottom: 320px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #FAF9F7;
}

.let-people-know {
    width: 50%;
}

.section-four-heading {
    color: #0A66C2;
    font-size: 65px;
    font-weight: 500;
    width: 85%;
}

.section-four-para {
    color: #272626;
    font-size: 51px;
}

.section-four-img {
    width: 500px;
}

/* Section 5 */

.section-five {
    padding-top: 210px;
    padding-left: 150px;
    padding-bottom: 210px;
    background-color: #FFFFFF;

}

.section-five-articles-wrapper {
    display: flex;
}

.section-five-article-one {
    width: 38%;
}

.connect-img {
    width: 400px;
}

.learn-img {
    width: 400px;
}

.section-five-article-one-para-one {
    font-size: 50px;
    width: 70%;
}

.section-five-article-one-para-two {
    font-size: 50px;
    width: 70%;
}

.find-btn {
    font-size: 25px;
    font-weight: bold;
    border-radius: 35px;
    color: #666664;
    background-color: transparent;
    padding: 20px 29px;
    top: 141px;
    left: 920px;
    cursor: pointer;
}