body, ul, li {
    display: flex;
}

ul {
    list-style-type: none;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 75vw;
}

li {
    border: 8px solid black;
    margin-right: 40px;
    margin-bottom: 40px;
}

img {
    object-fit: contain;
    padding: 27px 20px;
}

