html {
    font-family: Georgia, serif;
}

body {
    background-color: rgb(238, 238, 238);
    margin: 0;
    box-sizing: border-box;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
}

img {
    width: 100%;
}