

html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 50px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
}

table {
    border: 1px solid lightgray;
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #CCCCCC;
    text-align: left;
    padding: 5px;
}

th, td {
    padding: 5px;
}

tbody td {
    border-right: 1px solid lightgray;
}

tbody tr {
    border-bottom: 1px solid lightgray;
}

tbody tr:nth-child(odd) {
    background-color: #F1F1F1;
}

blockquote {
    border-left: solid 3px rgb(221,221,221);
    font-style: italic;
}

blockquote p {
    padding-left: 30px;
}

.author {
    text-align: right;
}